/* Global Styles */
:root {
    --main-bg-color: #2c2c2c;
    --card-bg-color: #3b3b3b;
    --hover-color: #f58426;
    --text-color: #f0f0f0;
    --dark-bg: #1e1e1e;
    --subtitle-color: #d6d6d6;
}

/* Reset margins, padding, and box-sizing globally */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.image-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Ensures aspect ratio is maintained */
}
header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--dark-bg);
    border-bottom: 2px solid #2e2e2e;
    height: 120px; /* Fixed height */
}

header .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: var(--hover-color);
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header .subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: var(--subtitle-color);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px;
    margin-top: -10px;
}

/* Navbar */
header nav a {
    margin-left: 25px;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
}

header nav a:hover {
    background-color: #444;
}

/* Main Section */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/Feature.png')center calc(50% - 120px) no-repeat;
    /* Set background image */
    background-attachment: fixed;
    /* Make background scroll with the page */
    background-size: cover;
    /* Ensure the image covers the entire area */
}



/* Card Grid */
.card-grid-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    justify-items: center;
    width: 100%;
    max-width: 1100px;
}
/* Card (Default) */
.card {
    background-color: var(--card-bg-color);
    border: 1px solid var(--hover-color);
    padding: 0;
    text-align: left;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 7px 7px 0px rgba(36, 36, 36, 0.9);
    /* Shadow pushed to the bottom-right */
    min-height: 380px;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Hover effect with a solid orange shadow */
.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 0px rgba(245, 132, 38, 1);
    /* Orange shadow bottom-right */
}
/* Card Title */
.card h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--text-color);
    margin: 0px;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--hover-color);

}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    color: var(--hover-color);
    margin: 0px;
    padding: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.thumbnail {
    position: relative;
    /* Make this container the reference point for absolute positioning */
    width: calc(100% - 10px);
    /* To compensate for the 10px margin on both sides */
    height: 180px;
    background-color: #3d424a;
    border-radius: 12px;
    overflow: hidden;
    margin: 5px;
    padding: 0 0px;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Card Description */
.card p {
    font-size: 1em;
    font-weight: 400;
    color: var(--hover-color);
    margin: 4px;
    padding: 10px;
    background-color: #2e2e2e;
    border-radius: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Orange Button */
.card .button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--hover-color);
    color: var(--text-color);
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.card .button:hover {
    background-color: #d97519;
    /* Darker orange on hover */
}

footer {
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    min-height: 100px;
    width: 100%;
border-top: 1px solid #ffab67
}

/* Social Panel */
.social-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: rgba(26, 26, 26, 1);

        /* Transparent background */
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    /* Space from the top of the page */
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.social-icon {
    font-size: 50px;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: var(--hover-color);
}





/* Social Panel */
.content-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: rgba(26, 26, 26, 1);

    /* Transparent background */
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    /* Space from the top of the page */
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Social Icons */
.content-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.content-icon {
    font-size: 50px;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.content-icon:hover {
    color: var(--hover-color);
}







.copyright-txt {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
color: #ffab67;
}

.footer-logo {
    width: 100px;
    height: 100px;
    /* Adds space below the copyright text */
    background-color: transparent;
    border: none;
}
.paid-logo {
    display: none;
    /* Initially hidden */
    position: absolute;
    /* Position relative to the .thumbnail */
    top: 10px;
    /* Adjust this to position it where you want within the image */
    right: 10px;
    /* Adjust this to position it where you want within the image */
    max-width: 40px;
    /* Force the width to be no larger than 40px */
    max-height: 40px;
    /* Force the height to be no larger than 40px */
    opacity: 0.7;
    /* Slight transparency */
    transition: opacity 0.3s ease;
    /* Smooth fade-in effect */
}

.card:hover .paid-logo {
    display: block;
    /* Make the logo visible when hovering over the card */
    opacity: 1;
    /* Full visibility */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    font-size: 18px;
}

nav a i {
    margin-right: 8px;
}

nav a span {
    display: inline;
}
/* On small screens, hide the text */
@media (max-width: 768px) {
    nav a span {
        display: none;
    }

    nav a i {
        font-size: 24px;
        /* Slightly larger icons */
    }

    #mouse-coordinates {
        display: none;
        /* Hide mouse coordinates on mobile */
    }

    
}

/* On larger screens, show mouse coordinates tab */
@media (min-width: 769px) {
    #mouse-coordinates {
        position: absolute;
        top: 120px;
        left: 100px;
        width: 250px;
        /* Fixed width */
        background-color: #2e2e2e;
        margin-right: 10px;
        color: #ec7700;
        /* Match your text color */
        padding: 5px 10px;
        border-radius: 0 0 10px 10px;
        text-align: center;
        transition: all 0.2s ease-in-out;
#mouse-coordinates.growing {
    transform: scale(1.5);
    }

}

}